.danger-color {
  color: red;
}
.success-color {
  color: green;
}

#console-background {
  left: 0;
  right: 0;
  width: 100%;
  max-height: 200px;
  min-height: 500px;
  background-color: black;
  margin: 0;
  padding: 0;
  overflow-y: scroll;
}

#console {
  margin: 0;
  padding: 0;
}

#console-text {
  font-size: 12px;
  color: rgb(255, 255, 255);
  font-family: Monospace, serif;
  margin: 10px 0 0 10px;
}

.styled-table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  min-width: 400px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table thead tr {
  background-color: #1063a9;
  color: #ffffff;
  text-align: center;
}

.styled-table th,
.styled-table td {
  padding: 5px 5px;
}

.styled-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
  border-bottom: 2px solid #1063a9;
}

.styled-table tbody tr.active-row {
  font-weight: bold;
  color: #1063a9;
}
